# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
bower_components/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
